APP_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54422/postgres
SUPABASE_URL=http://127.0.0.1:54421
SUPABASE_SECRET_KEY=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

TELEGRAM_CLIENT_ID=
TELEGRAM_CLIENT_SECRET=
